.App {
  text-align: center;
  background-color: #0a2239;
  height:2800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:#ECFEFF ;
  text-shadow: 0 0 6px #0A1A36, 0 0 8px #071a3b;
  font-family: 'Marhey', cursive;
  overflow: scroll;
  }

header{
  width: 90vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to right, #0069D7, #314567,#077988);
  font-family: 'Concert One', cursive;
  font-size: 45px;
  padding-left: 45px;
  border: #92c3f8 solid 3px;
}

h1{
  margin-right: 100px;
}

.doublearrows {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top:-150px;
  animation-name: glow;
  animation-duration:1s;
  animation-iteration-count: infinite;
  

} @keyframes glow {
  from{
     left: 50px;
     top: 550px;
  }
  to{
      left: 50px;
      top: 575px;
      
  }
}


.bluearrows{
  height: 50px;
  transform:rotate(135deg);
  margin-top: 20px;
  z-index: 0;
}


section{
  height:300px;
  width: 1200px;
  display: flex;
  background-color:#0069D7 ;
  align-items: center;
  justify-content: space-around;
  border: #92c3f8 solid 3px;
  border-radius: 25px;
}

h3{
  margin-bottom: 25px;
}

.techs{
  width: 320px;
  height: 150px;
}

.tech-logo{
  width: 140px;
  height: 100px;
}

.tech-logo-other{
  width: 75px;
  height: 60px;
}

.main-stack{
  width:850px;
  height:600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: rgb(20, 236, 239) solid 1px; */
}
.other-tech{
  /* border: rgb(20, 236, 239) solid 1px; */
  width:250px;
  height:300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
}

.divider{

  border: 2px solid #92c3f8;
   height: 200px
}


main{
  display:flex;
}

.projects{
  height:1600px;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: #92c3f8 solid 3px;
  border-radius: 25px;
  background-color: #0069D7;

}

.project{
  display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
  width:1200px;
  height: 500px;
  background-image: linear-gradient(to bottom right,#314567,#077988);
  border: black solid 1px;
  
}

h2{
  color:white;
  font-size: larger;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
  border-radius: 25px;
}
h2:hover{
  background-color:#077988 ;
}

.github-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  justify-content: center;
  height: 80px;
  width: 300px;
  border-radius: 25px;
}

.github-div:hover{
  background-color:#077988 ;
}

.github-logo{
  height: 50px;
  width:50px;
}

#site-scrn{
  height: 300px;
  width: 500px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -moz-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -webkit-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.contact{
  width:90vw;
  height: 340px;
  border: rgb(255, 35, 1) solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form-row{
  display: flex;
}
@media (max-width:1000px) {
  main{
    flex-direction: column;
  }

  .bluearrows{
  display:none;
  }
  
  section{
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width:95vw;
  }

  .techs{
    width: 320px;
    height: 150px;
  }
  
  .tech-logo{
    width: 140px;
    height: 100px;
  }
  
  .tech-logo-other{
    width: 155px;
    height: 130px;
  }

  .divider{
    display: none;
  }

  #site-scrn{
    height: 200px;
    width:300px;
  }

  .techs{
    width: 320px;
    height: 230px;
  }
  
  .tech-logo{
    width: 100px;
    height: 70px;
  }
  
  .tech-logo-other{
    width: 55px;
    height: 50px;
  }
  
  .main-stack{
    width:95vw;
  }
  .other-tech{
    /* border: rgb(20, 236, 239) solid 1px; */
    width:250px;
    height:330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
  }
  
  
  }
  