.App {
  text-align: center;
  background-color: rgb(62, 95, 203);
  height:100vh;
  }

header{
  width: 100vw;

}

main{
  display:flex;
}

.projects{
  height:60vh;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: rgb(62, 255, 9) solid 1px;

}

.project{
  width:40vw;
  height: 25vh;
  border: black solid 1px;
}