.App {
  text-align: center;
  background-color: rgb(39, 112, 230);
  height:280vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }

header{
  width: 100vw;

}

section{
  height:50vh;
  width: 95vw;
  display: flex;

  align-items: center;
  justify-content: space-around;
  border: rgb(20, 236, 239) solid 1px;
}

main{
  display:flex;
}

.projects{
  height:150vh;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: rgb(62, 255, 9) solid 1px;

}

.project{
  width:90vw;
  height: 25vh;
  border: black solid 1px;
}

.contact{
  width:90vw;
  height: 25vh;
  border: rgb(255, 35, 1) solid 1px;
}